.banner{
    background-image: linear-gradient(#00000085, #06060680),url('../../../assets/tim-toomey-STqHLqMne3k-unsplash.jpg');
    background-position:  center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}